@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

.MuiChip-sizeMedium {
  color: #4285F4 !important;
  font-size: 1rem !important;
}

.MuiChip-sizeMedium:hover {
  background-color: #E3F0FF !important;
  border-color: #4285F4 !important;
}
